<html xmlns:th="http://www.thyemleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>
    <body>
        <div class="container">

            <form th:action="@{/Alumno/Form}" method="post" th:object="${alumnoDireccion}">

                <input type="hidden" th:field="*{Alumno.IdAlumno}">
                <input type="hidden" th:field="*{Direccion.IdDireccion}">



                <div class="row" th:if="${(alumnoDireccion.Alumno.IdAlumno == 0 && alumnoDireccion.Direccion.IdDireccion == 0) 
                     || (alumnoDireccion.Alumno.IdAlumno != 0 && alumnoDireccion.Direccion.IdDireccion == -1)}">
                    <div class="col-md-4 text-center d-flex flex-column align-items-center">
                        <div class="card p-3 w-100 h-100">
                            <label for="imagenFile" class="form-label fw-bold">Imagen</label>
                            <input type="file" class="form-control mb-2" name="imagenFile" id="imagenFile">
                            <img src="https://cdn-icons-png.flaticon.com/512/6326/6326055.png" class="img-fluid rounded" alt="Imagen del alumno" style="max-height: 250px; object-fit: contain;">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card p-3 h-100">
                            <div class="mb-3">
                                <label for="NombreAlumno" class="form-label fw-bold">Nombre</label>
                                <input id="NombreAlumno" type="text" class="form-control" placeholder="Nombre" th:field="*{Alumno.Nombre}" onkeypress="return SoloLetras(event, this)">
                                <span th:if="${#fields.hasErrors('Alumno.Nombre')}" th:errors="*{Alumno.Nombre}" ></span>
                                <span id="NombreAlumnoError" class="text-danger"></span>

                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="ApellidoPaternoAlumno" class="form-label fw-bold">Apellido Paterno</label>
                                    <input id="ApellidoPaternoAlumno" type="text" class="form-control" placeholder="Apellido Paterno" th:field="*{Alumno.ApellidoPaterno}" onkeypress="return SoloLetrasAscii(event, this)">
                                    <span id="ApellidoPaternoAlumnoError" class="text-danger"></span>
                                </div>
                                <div class="col mb-3">
                                    <label for="ApellidoMaternoAlumno" class="form-label fw-bold">Apellido Materno</label>
                                    <input id="ApellidoMaternoAlumno" type="text" class="form-control" placeholder="Apellido Materno" th:field="*{Alumno.ApellidoMaterno}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="FechaNacAlumno" class="form-label fw-bold">Fecha de Nacimiento</label>
                                    <input id="FechaNacAlumno" type="date" class="form-control" th:field="*{Alumno.FechaNacimiento}">
                                </div>
                                <div class="col mb-3">
                                    <label for="UserNameAlumno" class="form-label fw-bold">Username</label>
                                    <input id="UserNameAlumno" type="text" class="form-control" placeholder="Username" th:field="*{Alumno.Username}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="EmailAlumno" class="form-label fw-bold">Email</label>
                                    <input id="EmailAlumno" type="email" class="form-control" placeholder="Email" th:field="*{Alumno.Email}" onblur="return Email(event, this)">
                                    <span id="EmailAlumnoError" class="text-danger"></span>
                                </div>
                                <div class="col mb-3">
                                    <label for="PasswordAlumno" class="form-label fw-bold">Password</label>
                                    <input id="PasswordAlumno" type="password" class="form-control" placeholder="Contraseña">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="card p-3" th:if="${(alumnoDireccion.Alumno.IdAlumno != 0 && alumnoDireccion.Direccion.IdDireccion > 0) 
                     || (alumnoDireccion.Alumno.IdAlumno != 0 && alumnoDireccion.Direccion.IdDireccion == 0)
                     || (alumnoDireccion.Alumno.IdAlumno == 0 && alumnoDireccion.Direccion.IdDireccion == 0)}">
                    <div class="row mb-3">
                        <div class="col-md-8">
                            <label class="form-label fw-bold">Calle</label>
                            <input type="text" class="form-control" placeholder="Calle" th:field="*{Direccion.Calle}">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label fw-bold"># Interior</label>
                            <input type="text" class="form-control" placeholder="# int." th:field="*{Direccion.NumeroInterior}">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label fw-bold"># Exterior</label>
                            <input type="text" class="form-control" placeholder="# ext." th:field="*{Direccion.NumeroExterior}">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="ColoniaAlumno" class="form-label fw-bold">Colonia</label>
                        <input id="ColoniaAlumno" type="text" class="form-control" placeholder="Colonia" th:field="*{Direccion.Colonia.IdColonia}">
                    </div>
                </div>

                <button type="submit" class="btn btn-success mt-4 w-100 fw-bold">Agregar</button>
            </form>

        </div>

        <script>

            function SoloLetras(event, elemento) {
                var key = event.key;
                var regEx = /^[a-zA-Z]+$/;
                var spanError = document.getElementById(elemento.id + "Error");

                if (key.match(regEx)) {
                    console.log("Todo OK");
                    spanError.innerHTML = "";
                    return true;
                } else {
                    console.log("NO OK");
                    spanError.innerHTML = "Solo letras :@";
                    return false;
                }
            }


            function SoloLetrasAscii(event, elemento) {
                var key = event.keyCode;
                var spanError = document.getElementById(elemento.id + "Error");

                if ((key >= 65 && key <= 90) || (key >= 97 && key <= 122)) {
                    console.log("Todo OK");
                    spanError.innerHTML = "";
                    return true;
                } else {
                    console.log("NO OK");
                    spanError.innerHTML = "Solo letras :@";
                    return false;
                }
            }

        </script>
    </body>
</html>
